// --------------------------------------------------------
// Container styles
// --------------------------------------------------------
.container {

	// Base styles
	padding-left: rem-calc($gap);
	padding-right: rem-calc($gap);

	&:not(.fluid) {
		@include breakpoint('lg') {
			max-width: rem-calc(800);
		}
	}

	margin: 0 auto;

	// Padding modifiers
	&.no-padding {
		padding-left: 0;
		padding-right: 0;
	}
	
}
