// --------------------------------------------------------
// Icon button styles
// --------------------------------------------------------
.icon-button {

	// Variables
	$button-sizes: (
		'reg': 32,
		'lg': 40
	);

	// Base styles
	text-transform: none;
	text-align: center;
	line-height: normal;
	cursor: pointer;
	border-radius: rem-calc($global-radius);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: rem-calc(map-get($button-sizes, 'reg'));
	height: rem-calc(map-get($button-sizes, 'reg'));
	color: map-get($theme-colors, 'white');
	background-color: map-get($theme-colors, 'primary');
	transition: background-color 0.2s ease-in-out;

	@media (hover: hover) {
		&:hover {
			color: map-get($theme-colors, 'white');
			background-color:  shade(map-get($theme-colors, 'primary'), 10%);
		}
	}

	&.inverted {
		background-color: map-get($theme-colors, 'white');
		color: map-get($theme-colors, 'primary');

		@media (hover: hover) {
			&:hover,
			&:focus {
				background-color:  shade(map-get($theme-colors, 'white'), 5%);
			}
		}

	}

	// Icon
	.svg-inline--fa {
		height: 45%;
	}

	// Size modifiers
	@each $label, $size in $button-sizes {

		&.size-#{$label} {
			width: rem-calc($size);
			height: rem-calc($size);
		}

	}

	// Color modifiers
	@each $label, $color in $theme-colors {
	
		&.color-#{$label} {

			background-color: $color;
			color: set-color-invert($color);

			@media (hover: hover) {
				&:hover,
				&:focus {
					background-color:  shade($color, 10%);
					transition: background-color 0.2s ease-in-out;
				}
			}

		}

	}

	// Inverted modifier
	@each $label, $color in $theme-colors {

		// Inverted
		&.color-#{$label}.inverted {
			color: $color;
			background-color: map-get($theme-colors, 'white');

			@media (hover: hover) {
				&:hover,
				&:focus {
					background-color:  shade(map-get($theme-colors, 'white'), 5%);
					transition: background-color 0.2s ease-in-out;
				}
			}

		}

	}

	// State modifiers
	&:disabled,
	&.disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

}