// --------------------------------------------------------
// Main view styles
// --------------------------------------------------------
#app .main-view {

	// --------------------------------------------------------
	// Container
	// --------------------------------------------------------
	padding-top: rem-calc($gap * 4);

	@include breakpoint('lg') {
		padding-top: rem-calc($gap * 8);
	}

	// --------------------------------------------------------
	// Add task
	// --------------------------------------------------------
	.add-task {
		@include breakpoint('lg') {
			margin-bottom: rem-calc($gap * 2.75);
		}
	}

}