// --------------------------------------------------------
// View header styles
// --------------------------------------------------------
.view-header {

	// --------------------------------------------------------
	// Container
	// --------------------------------------------------------
	border-bottom: rem-calc(1) solid map-get($theme-colors, 'dark-grey');
	padding-bottom: rem-calc($gap * 2.5);
	
	// --------------------------------------------------------
	// Text link
	// --------------------------------------------------------
	.text-link {
		margin-bottom: rem-calc($gap);
	}

}